.el-submenu .el-menu-item {
  font-size: 14px;
  padding-left: 50px !important;
  &.is-active {
    background-color: $mainColor !important;
  }
}

.el-menu--vertical {
  .el-menu-item {
    background-color: #344a5f !important;
    &.is-active {
      background-color: $mainColor !important;
    }
  }
}
